# ==========================
# Python
# ==========================
venv/
__pycache__/
*.pyc
.pytest_cache/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Archives
# ==========================
*.zip
*.rar
*.7z

# ==========================
# SQLite
# ==========================
*.db

# ==========================
# Generated Outputs
# ==========================
data/output/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log
logs/